* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f2f4;
}
.s_cont_1 {
  height: 21271px;

  width: 98%;
}
header {
  height: 85px;
  background-color: #ffffff;
}
footer {
  height: 444px;
  background-color: #212121;
}
.main-1 {
  height: 158px;
  background-color: #ffffff;
  margin-top: 8px;
}
.nav img {
  height: 75px;
}
.nav p {
  font-size: 0.9em;
  font-weight: 600;
}
.main-2 {
  height: 229px;
  background-color: #ffffff;
  margin-top: 12px;
}
.main-3 {
  background-color: #ffffff;
  margin-top: 15px;
}
.main-4 {
  height: calc(1295px - 260px);
  background-color: #ffffff;
  margin-top: 18px;
}
.main-5 {
  background-color: #ffffff;
  margin-top: 10px;
}
.main-6 {
  height: 300px;
  /* background-color: #ffffff; */
  margin-top: 15px;
}
.main-7 {
  height: 429px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-8 {
  height: 841px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-9 {
  height: 341px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-10 {
  height: 191px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-11 {
  height: 191px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-12 {
  height: 341px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-13 {
  height: 341px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-14 {
  height: 341px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-15 {
  height: 850px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-16 {
  height: 824px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-17 {
  height: 1308px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-18 {
  height: 426px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-19 {
  height: 323px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-20 {
  height: 1302px;
  background-color: #ffffff;
  margin-top: 15px;
}
.main-21 {
  height: 321px;
  background-color: #ffffff;
  margin-top: 15px;
}
.a__carousel_ctrl {
  width: 3.5%;
  background-color: #ffff;
  opacity: 1;
  height: 40%;
  margin-top: 65px;
  color: #212121;
}
.a_ccontrol span {
  height: 40%;
  text-shadow: none;
}
.carousel-control-prev {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.carousel-control-next {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.carousel-control.right {
  background: none;
  background-color: #ffffff;
}
.carousel-control.left {
  background: none;
  background-color: #ffffff;
}
.main-3 .row {
  height: 340px;
}

.main-2-col-10-top {
  height: 60px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
.myBtn {
  border-radius: 30px;
  height: 25px;
  width: 25px;
  background-color: #2a55e5;
  color: white;
  text-align: center;
  line-height: 25px;
}
.cbox {
  height: 280px;
  width: 100%;
}
.cbox .row {
  padding: 0px;
}

.card {
  height: 250px;
}
.ctext {
  font-size: 1.4em;
}
.main-4-banner-img-box {
  height: 221px;
}
.banner-3 {
  height: 454px;
}
.main-5-header {
  height: 70px;
}
.section-5-1 {
  height: 290px;
}
.brand-img-box {
  height: 264px;
  border-radius: 10px;
}

.gaget-img {
  height: 270px;
}
.main-6-header {
  height: 50px;
}
.box-1 {
  height: 250px;
}
.main-6 .a__carousel_ctrl {
  width: 3.5%;
  background-color: #ffff;
  opacity: 1;
  height: 40%;
  margin-top: 65px;
  color: #212121;
}
.header-box {
  height: 60px;
  width: 1139px;
}
@font-face {
  font-family: logo-font;
  src: url("fonts/Riona\ Sans\ W01\ Bold\ Italic.ttf");
}
.logo-h2 {
  color: #2a55e5;
  font-weight: bold;
  font-size: 26px;
  font-family: logo-font;
}
.logo p {
  font-size: 13px;
  font-family: logo-font;
  color: #9e9e9e;
  margin-top: -10px;
}
.plus {
  color: #ffc200;
}
.search-box {
  margin-left: 40px;
}
.search-bar {
  width: 439px;
  height: 41px;
  border-radius: 5px;
  line-height: 41px;
}
input[type="search"]::placeholder {
  font-size: 17px;
}

input[type="search"]:focus {
  box-shadow: none;
  background-color: #f0f5ff;
}
input[type="search"] {
  box-shadow: none;
  background-color: #f0f5ff;
}
.lbtn {
  width: 123px;
  height: 37px;
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.lbtn:hover {
  color: white;
  background-color: blue;
}
.cart-btn {
  width: 90px;
  height: 37px;
  margin-left: 40px;
}
.cart-btn a {
  font-size: 16px;
}
.seller-btn {
  width: 195px;
  height: 37px;

  margin-left: 30px;
}
.seller-btn a {
  font-size: 16px;
}
.more-btn {
  height: 37px;
  width: 40px;
  margin-left: 30px;
}

.more-btn a {
  font-size: 16px;
}
.more-btn:hover {
  border: 1px solid #8e8e8e;
  border-radius: 10px;
  background-color: #f2f2f2;
}
